@charset "UTF-8";

.div__main-header > div{
	height: 100%;
	display: inline-block;
}

.div__main-header{
	width: 100%; height: 7rem;
	margin-top: -2rem;
	background-color: #A29584;
	color: white;
}

.div_back-story{
	padding: 2.2rem;
	font-weight: 200;
	font-size: 1.8rem;
	cursor: pointer;
	padding: 2.3rem;
	float: left;
}

.back-icon{
	margin-right: 1rem;
}

.div_title{
	min-width: 70%;
	text-align: center;	
	padding: 1.9rem;
}

.span_title{
	font-size: 2.3rem;
}

.span_projector{
	margin-left: 1rem;
	font-size: 1.8rem;
}

/* contents area */
.container{
	border: 1px solid silver;
	padding: 2rem 12rem;
}

.div_purchase-step{
	margin-bottom: 2.5rem;
}
		
.ol_step{

	width: auto;
	display: table;
	
	padding: 0px;
	margin: 0px auto;
	
	text-align: center;
	
	list-style-type: none;
	background: url('https://www.wadiz.kr/resources/static/img/common/bg_gray_line.png') repeat-x 0 center;

}

.ol_step li{
	color: #4a4a4a;
	width: 9rem; height: 9rem;
	display: inline-table;
}

.ol_step li span{

	font-size: 1.6rem;
	font-weight: 250;
	
	display: table-cell;
	vertical-align: middle;
					
	background-color: white;
	
	border-radius: 50%;
	border: 1px dashed #8C8C8C;
	
}
			
/* 첫 번째 li에 적용 */
.ol_step li:nth-child(1){
	float: left;
}

/* 두 번째 li에만 margin 적용  */
.ol_step li:nth-child(2){
	margin: 0px 5rem;
}

.activate span{
	color: white !important;
	border: 1px solid #00c4c4 !important;
	background-color: #00c4c4 !important; 
}